<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
		xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
		>
		
<div layout:fragment = "content">

<table class = "table">
	<tr>
		<h6>Masukkan kode OTP yang sudah dikirimkan ke email anda</h6>
	</tr>
</table>
<table class = "table">
	<tr>
		<td><input type = "text" style="width: 100%; text-align: center;" class="form-control" id="otp"><br><i><span class = "valid" id="val_otp"></span></i></td>
	</tr>
	<tr>
		<td  align="center" id="otpkirimulang">Kirim ulang kode OTP dalam <span id="otpexpired"></span></td>
	</tr>
</table>

<table class = "table">
	<tr>
		<td class = "col text-center">
		<button type = "submit" class = "btn btn-info" style = "color: white;" onclick="konfirmasiotp()">Konfirmasi OTP</button>
		</td>
	</tr>
</table>

</div>
</html>